{% extends "pageLayout.html.j2" %}

{% block headAddOns %}<meta http-equiv="refresh" content="{% if refreshSeconds %}{{ refreshSeconds }}{% else %}60{% endif %}" />{% endblock %}

{% block pageTop %}    <div class="title">{{ title }}</div>
    {% if author %}<div class="author">By: {{ author }}</div>{% endif %}{% endblock %}

{% block body %}    <div class="TopRight">Updated: {{ getDate() }}</div>{% endblock %}
