{% extends "pageLayout.html.j2" %}

{% block headAddOns %}<meta http-equiv="refresh" content="{% if refreshSeconds %}{{ refreshSeconds }}{% else %}60{% endif %}" />{% endblock %}

{% block pageTop %}    <div class="title">{{ config.appTitle }}</div>
    {% if config.appAuthor %}<div class="author">By: {{ config.appAuthor }}</div>{% endif %}{% endblock %}

{% block body %}
    <div class="TopRight">Updated: {{ getDate() }}</div>
    <div class="HostList">
    <ul>
      {% for host in config.hostList %}<li>{{ host }}</li>{% endfor %}
    </ul>
    </div>
{% endblock %}
