{% extends "pageLayout.html.j2" %}

{% block headAddOns %}<meta http-equiv="refresh" content="{{ refreshSeconds }}" />{% endblock %}

{% block body %}
      <div class="TopRight">Updated: {{ getDate() }}</div>
{% endblock %}

{% block pageTop %}
    <div class="title">{{ title }}</div>222
{% endblock %}
