<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    {% block headAddOns %}{% endblock %}
    <link rel="stylesheet" href="css/main.css" />
    <script src="js/main.js"></script>
    {% block pageTitle %}<title>{{ config.appTitle }}</title>{% endblock %}
  </head>
  <body>
{% block pageTop %}    <div class="title">{{ config.appTitle }}</div>
{% if author %}    <div class="author">By: {{ author }}</div>{% endif %}{% endblock %}
{% block body %}    This is pageLayout.html.j2{% endblock %}
  </body>
</html>
