
.error  { text: white; background-color: red;        }
.level4 { text: black; background-color: orange;     }
.level3 { text: black; background-color: yellow;     }
.level2 { text: black; background-color: lightgreen; }
.level1 { text: black; background-color: cyan;       }
.level0 { text: black; background-color: white;      }

table thead th { text: black bold; background-color: silver; }

.pageTop { display: inline-block; }
.pageTopLeft { display: inline-block; }
.pageTopRight { display: inline-block; }
.title { display: inline-block; }
.timeBox { display: inline-block; }
